<h1>Problem Set - 3</h1>
<h4> Data Programming </h4>
<br>
<b>Performed by: </b> Bikram Lamsal<br>

<h2>Question - 1</h2>
Introduction:<br>
Special thanks to: https://github.com/justmarkham for sharing the dataset and 
materials.<br><br>
Occupations<br>
Step 1. Import the necessary libraries<br>
Step 2. Import the dataset from this address<br>
Step 3. Assign it to a variable called users<br>
Step 4. Discover what is the mean age per occupation<br>
Step 5. Discover the Male ratio per occupation and sort it from the most to the least <br>
Step 6. For each occupation, calculate the minimum and maximum ages <br>
Step 7. For each combination of occupation and sex, calculate the mean age <br>
Step 8. For each occupation present the percentage of women and men <br>

In [1]:
#Import the necessary libraries
import pandas as pd

#  Import the dataset
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

#  Assign the dataset to a variable called 'users'
users = pd.read_csv(url, sep='|', index_col='user_id')

In [2]:
#  Discover the mean age per occupation
mean_age_per_occupation = users.groupby('occupation')['age'].mean()

# Displays the mean age per Occupation in a tabular format
print("Mean Age per Occupation:")
print(mean_age_per_occupation.to_markdown())  
print("\n")

Mean Age per Occupation:
| occupation    |     age |
|:--------------|--------:|
| administrator | 38.7468 |
| artist        | 31.3929 |
| doctor        | 43.5714 |
| educator      | 42.0105 |
| engineer      | 36.3881 |
| entertainment | 29.2222 |
| executive     | 38.7188 |
| healthcare    | 41.5625 |
| homemaker     | 32.5714 |
| lawyer        | 36.75   |
| librarian     | 40      |
| marketing     | 37.6154 |
| none          | 26.5556 |
| other         | 34.5238 |
| programmer    | 33.1212 |
| retired       | 63.0714 |
| salesman      | 35.6667 |
| scientist     | 35.5484 |
| student       | 22.0816 |
| technician    | 33.1481 |
| writer        | 36.3111 |

In [3]:
#  Discover the Male ratio per occupation
def male_ratio(group):
    return (group == 'M').sum() / group.count()

male_ratio_per_occupation = users.groupby('occupation')['gender'].apply(male_ratio)
male_ratio_in_order = male_ratio_per_occupation.sort_values(ascending=False)

# Displays the male ratio per occupation in tabular format
print("Male Ratio per Occupation:")
print(male_ratio_in_order.to_markdown())  
print("\n")

Male Ratio per Occupation:
| occupation    |   gender |
|:--------------|---------:|
| doctor        | 1        |
| engineer      | 0.970149 |
| technician    | 0.962963 |
| retired       | 0.928571 |
| programmer    | 0.909091 |
| executive     | 0.90625  |
| scientist     | 0.903226 |
| entertainment | 0.888889 |
| lawyer        | 0.833333 |
| salesman      | 0.75     |
| educator      | 0.726316 |
| student       | 0.693878 |
| other         | 0.657143 |
| marketing     | 0.615385 |
| writer        | 0.577778 |
| none          | 0.555556 |
| administrator | 0.544304 |
| artist        | 0.535714 |
| librarian     | 0.431373 |
| healthcare    | 0.3125   |
| homemaker     | 0.142857 |

In [4]:
# Calculate the minimum and maximum ages per occupation
age_range_per_occupation = users.groupby('occupation')['age'].agg(['min', 'max'])

# Displays the age range per occupation data in tabular format
print("Age Range per Occupation:")
print(age_range_per_occupation.to_markdown())  
print("\n")

Age Range per Occupation:
| occupation    |   min |   max |
|:--------------|------:|------:|
| administrator |    21 |    70 |
| artist        |    19 |    48 |
| doctor        |    28 |    64 |
| educator      |    23 |    63 |
| engineer      |    22 |    70 |
| entertainment |    15 |    50 |
| executive     |    22 |    69 |
| healthcare    |    22 |    62 |
| homemaker     |    20 |    50 |
| lawyer        |    21 |    53 |
| librarian     |    23 |    69 |
| marketing     |    24 |    55 |
| none          |    11 |    55 |
| other         |    13 |    64 |
| programmer    |    20 |    63 |
| retired       |    51 |    73 |
| salesman      |    18 |    66 |
| scientist     |    23 |    55 |
| student       |     7 |    42 |
| technician    |    21 |    55 |
| writer        |    18 |    60 |

In [5]:
# Calculate the mean age per combination of occupation and sex
mean_age_per_combination = users.groupby(['occupation', 'gender'])['age'].mean()

# Displays the mean age per occupation and gender in tabular format
print("Mean Age per Occupation and Gender:")
print(mean_age_per_combination.to_markdown())  
print("\n")

Mean Age per Occupation and Gender:
|                        |     age |
|:-----------------------|--------:|
| ('administrator', 'F') | 40.6389 |
| ('administrator', 'M') | 37.1628 |
| ('artist', 'F')        | 30.3077 |
| ('artist', 'M')        | 32.3333 |
| ('doctor', 'M')        | 43.5714 |
| ('educator', 'F')      | 39.1154 |
| ('educator', 'M')      | 43.1014 |
| ('engineer', 'F')      | 29.5    |
| ('engineer', 'M')      | 36.6    |
| ('entertainment', 'F') | 31      |
| ('entertainment', 'M') | 29      |
| ('executive', 'F')     | 44      |
| ('executive', 'M')     | 38.1724 |
| ('healthcare', 'F')    | 39.8182 |
| ('healthcare', 'M')    | 45.4    |
| ('homemaker', 'F')     | 34.1667 |
| ('homemaker', 'M')     | 23      |
| ('lawyer', 'F')        | 39.5    |
| ('lawyer', 'M')        | 36.2    |
| ('librarian', 'F')     | 40      |
| ('librarian', 'M')     | 40      |
| ('marketing', 'F')     | 37.2    |
| ('marketing', 'M')     | 37.875  |
| ('none', 'F')          | 36.5    |
| ('none', 'M')          | 18.6    |
| ('other', 'F')         | 35.4722 |
| ('other', 'M')         | 34.029  |
| ('programmer', 'F')    | 32.1667 |
| ('programmer', 'M')    | 33.2167 |
| ('retired', 'F')       | 70      |
| ('retired', 'M')       | 62.5385 |
| ('salesman', 'F')      | 27      |
| ('salesman', 'M')      | 38.5556 |
| ('scientist', 'F')     | 28.3333 |
| ('scientist', 'M')     | 36.3214 |
| ('student', 'F')       | 20.75   |
| ('student', 'M')       | 22.6691 |
| ('technician', 'F')    | 38      |
| ('technician', 'M')    | 32.9615 |
| ('writer', 'F')        | 37.6316 |
| ('writer', 'M')        | 35.3462 |

In [6]:
#  Calculate the percentage of women and men per occupation
def gender_percentage(group):
    total_count = group.count()
    
    female_count = (group == 'F').sum()
    female_percentage = (female_count / total_count) * 100
    
    male_count = total_count - female_count
    male_percentage = (male_count / total_count) * 100
    
    return pd.Series({'Female %': female_percentage, 'Male %': male_percentage})

gender_percentage_per_occupation = users.groupby('occupation')['gender'].apply(gender_percentage)
gender_percentage_per_occupation = gender_percentage_per_occupation.reset_index()

# Displays the gender percentage per occupation in tabular format
print("Gender Percentage per Occupation:")
print(gender_percentage_per_occupation.to_markdown(index=False))

Gender Percentage per Occupation:
| occupation    | level_1   |    gender |
|:--------------|:----------|----------:|
| administrator | Female %  |  45.5696  |
| administrator | Male %    |  54.4304  |
| artist        | Female %  |  46.4286  |
| artist        | Male %    |  53.5714  |
| doctor        | Female %  |   0       |
| doctor        | Male %    | 100       |
| educator      | Female %  |  27.3684  |
| educator      | Male %    |  72.6316  |
| engineer      | Female %  |   2.98507 |
| engineer      | Male %    |  97.0149  |
| entertainment | Female %  |  11.1111  |
| entertainment | Male %    |  88.8889  |
| executive     | Female %  |   9.375   |
| executive     | Male %    |  90.625   |
| healthcare    | Female %  |  68.75    |
| healthcare    | Male %    |  31.25    |
| homemaker     | Female %  |  85.7143  |
| homemaker     | Male %    |  14.2857  |
| lawyer        | Female %  |  16.6667  |
| lawyer        | Male %    |  83.3333  |
| librarian     | Female %  |  56.8627  |
| librarian     | Male %    |  43.1373  |
| marketing     | Female %  |  38.4615  |
| marketing     | Male %    |  61.5385  |
| none          | Female %  |  44.4444  |
| none          | Male %    |  55.5556  |
| other         | Female %  |  34.2857  |
| other         | Male %    |  65.7143  |
| programmer    | Female %  |   9.09091 |
| programmer    | Male %    |  90.9091  |
| retired       | Female %  |   7.14286 |
| retired       | Male %    |  92.8571  |
| salesman      | Female %  |  25       |
| salesman      | Male %    |  75       |
| scientist     | Female %  |   9.67742 |
| scientist     | Male %    |  90.3226  |
| student       | Female %  |  30.6122  |
| student       | Male %    |  69.3878  |
| technician    | Female %  |   3.7037  |
| technician    | Male %    |  96.2963  |
| writer        | Female %  |  42.2222  |
| writer        | Male %    |  57.7778  |

<h2>Question 2</h2>
Euro Teams<br>
Step 1. Import the necessary libraries<br>
Step 2. Import the dataset from this address<br>
Step 3. Assign it to a variable called euro12 <br>
Step 4. Select only the Goal column<br>
Step 5. How many team participated in the Euro2012? <br>
Step 6. What is the number of columns in the dataset?<br>
Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline<br>
Step 8. Sort the teams by Red Cards, then to Yellow Cards <br>
Step 9. Calculate the mean Yellow Cards given per Team<br>
Step 10. Filter teams that scored more than 6 goalsStep 11. Select the teams that start with G<br>
Step 12. Select the first 7 columns<br>
Step 13. Select all columns except the last 3<br>
Step 14. Present only the Shooting Accuracy from England, Italy and Russia<br>

In [7]:
#  Import the necessary libraries
import pandas as pd

#  Impotr the dataset
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"

#Assign the dataset to a variable named 'euro12'
euro12 = pd.read_csv(url)

In [8]:
# Select only the 'Goals' column
goals = euro12['Goals']

# Displays the 'Goals' column in tabular format
print(" Goals ")
print(goals.to_markdown())
print("\n")

 Goals
|    |   Goals |
|---:|--------:|
|  0 |       4 |
|  1 |       4 |
|  2 |       4 |
|  3 |       5 |
|  4 |       3 |
|  5 |      10 |
|  6 |       5 |
|  7 |       6 |
|  8 |       2 |
|  9 |       2 |
| 10 |       6 |
| 11 |       1 |
| 12 |       5 |
| 13 |      12 |
| 14 |       5 |
| 15 |       2 |

In [9]:
#  How many teams participated in Euro2012?
participating_teams = euro12['Team'].nunique()

# Displays the total number of participating teams
print("Total number of participating teams in Euro 2012: ", participating_teams)
print("\n")

Total number of participating teams in Euro 2012:  16

In [10]:
#  Number of columns in the dataset
num_columns = euro12.shape[1]

# Displays the total number of columns
print("Total number of columns in the dataset: ", num_columns)
print("\n")

Total number of columns in the dataset:  35

In [11]:
# View only the columns Team, Yellow Cards and Red Cards
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

# Displays the team discipline performance in tabular format
print("Team Discipline Performance:")
print(discipline.to_markdown())
print("\n")

Team Discipline Performance:
|    | Team                |   Yellow Cards |   Red Cards |
|---:|:--------------------|---------------:|------------:|
|  0 | Croatia             |              9 |           0 |
|  1 | Czech Republic      |              7 |           0 |
|  2 | Denmark             |              4 |           0 |
|  3 | England             |              5 |           0 |
|  4 | France              |              6 |           0 |
|  5 | Germany             |              4 |           0 |
|  6 | Greece              |              9 |           1 |
|  7 | Italy               |             16 |           0 |
|  8 | Netherlands         |              5 |           0 |
|  9 | Poland              |              7 |           1 |
| 10 | Portugal            |             12 |           0 |
| 11 | Republic of Ireland |              6 |           1 |
| 12 | Russia              |              6 |           0 |
| 13 | Spain               |             11 |           0 |
| 14 | Sweden              |              7 |           0 |
| 15 | Ukraine             |              5 |           0 |

In [12]:
# Sort the teams by Red Cards, then Yellow Cards
sorted_discipline = discipline.sort_values(by=['Red Cards', 'Yellow Cards'])

# Displays the sorted team discipline performance in tabular format
print("Team Discipline Performance (Sorted):")
print(sorted_discipline.to_markdown())
print("\n")

Team Discipline Performance (Sorted):
|    | Team                |   Yellow Cards |   Red Cards |
|---:|:--------------------|---------------:|------------:|
|  2 | Denmark             |              4 |           0 |
|  5 | Germany             |              4 |           0 |
|  3 | England             |              5 |           0 |
|  8 | Netherlands         |              5 |           0 |
| 15 | Ukraine             |              5 |           0 |
|  4 | France              |              6 |           0 |
| 12 | Russia              |              6 |           0 |
|  1 | Czech Republic      |              7 |           0 |
| 14 | Sweden              |              7 |           0 |
|  0 | Croatia             |              9 |           0 |
| 13 | Spain               |             11 |           0 |
| 10 | Portugal            |             12 |           0 |
|  7 | Italy               |             16 |           0 |
| 11 | Republic of Ireland |              6 |           1 |
|  9 | Poland              |              7 |           1 |
|  6 | Greece              |              9 |           1 |

In [13]:
# Calculate the mean Yellow Cards given per Team
mean_yellow_cards_per_team = euro12.groupby('Team')['Yellow Cards'].mean().reset_index()

# Displays the mean Yellow Cards per Team in tabular format
print("Mean Yellow Cards per Team: ")
print(mean_yellow_cards_per_team.to_markdown(index=False))
print("\n")

Mean Yellow Cards per Team:
| Team                |   Yellow Cards |
|:--------------------|---------------:|
| Croatia             |              9 |
| Czech Republic      |              7 |
| Denmark             |              4 |
| England             |              5 |
| France              |              6 |
| Germany             |              4 |
| Greece              |              9 |
| Italy               |             16 |
| Netherlands         |              5 |
| Poland              |              7 |
| Portugal            |             12 |
| Republic of Ireland |              6 |
| Russia              |              6 |
| Spain               |             11 |
| Sweden              |              7 |
| Ukraine             |              5 |

In [14]:
# Filter teams that scored more than 6 goals
high_scoring_teams = euro12[euro12['Goals'] > 6][['Team', 'Goals']]

# Displays teams that scored more than 6 goals in tabular format
print("Teams that scored more than 6 goals:")
print(high_scoring_teams.to_markdown(index=False))
print("\n")

Teams that scored more than 6 goals:
| Team    |   Goals |
|:--------|--------:|
| Germany |      10 |
| Spain   |      12 |

In [15]:
#  Select teams that start with G
teams_starting_with_G = euro12[euro12['Team'].str.startswith('G')]['Team']

# Displays teams starting with the letter G in tabular format
print("Teams starting with letter G:")
print(teams_starting_with_G.to_markdown(index=False))
print("\n")

Teams starting with letter G:
| Team    |
|:--------|
| Germany |
| Greece  |

In [16]:
#  Select the first 7 columns
first_7_columns = euro12.iloc[:, :7]

# Displays the first 7 columns in tabular format
print("First seven columns:")
print(first_7_columns.to_markdown())
print("\n")

First seven columns:
|    | Team                |   Goals |   Shots on target |   Shots off target | Shooting Accuracy   | % Goals-to-shots   |   Total shots (inc. Blocked) |
|---:|:--------------------|--------:|------------------:|-------------------:|:--------------------|:-------------------|-----------------------------:|
|  0 | Croatia             |       4 |                13 |                 12 | 51.9%               | 16.0%              |                           32 |
|  1 | Czech Republic      |       4 |                13 |                 18 | 41.9%               | 12.9%              |                           39 |
|  2 | Denmark             |       4 |                10 |                 10 | 50.0%               | 20.0%              |                           27 |
|  3 | England             |       5 |                11 |                 18 | 50.0%               | 17.2%              |                           40 |
|  4 | France              |       3 |                22 |                 24 | 37.9%               | 6.5%               |                           65 |
|  5 | Germany             |      10 |                32 |                 32 | 47.8%               | 15.6%              |                           80 |
|  6 | Greece              |       5 |                 8 |                 18 | 30.7%               | 19.2%              |                           32 |
|  7 | Italy               |       6 |                34 |                 45 | 43.0%               | 7.5%               |                          110 |
|  8 | Netherlands         |       2 |                12 |                 36 | 25.0%               | 4.1%               |                           60 |
|  9 | Poland              |       2 |                15 |                 23 | 39.4%               | 5.2%               |                           48 |
| 10 | Portugal            |       6 |                22 |                 42 | 34.3%               | 9.3%               |                           82 |
| 11 | Republic of Ireland |       1 |                 7 |                 12 | 36.8%               | 5.2%               |                           28 |
| 12 | Russia              |       5 |                 9 |                 31 | 22.5%               | 12.5%              |                           59 |
| 13 | Spain               |      12 |                42 |                 33 | 55.9%               | 16.0%              |                          100 |
| 14 | Sweden              |       5 |                17 |                 19 | 47.2%               | 13.8%              |                           39 |
| 15 | Ukraine             |       2 |                 7 |                 26 | 21.2%               | 6.0%               |                           38 |

In [17]:
#  Select all columns except the last 3
all_columns_except_last_3 = euro12.iloc[:, :-3]

# Displays all columns except the last 3 in tabular format
print("All columns except the last three: ")
print(all_columns_except_last_3)
print("\n")

All columns except the last three:
                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

In [18]:
#  Present only the Shooting Accuracy from England, Italy, and Russia
selected_teams = ['England', 'Italy', 'Russia']
shooting_accuracy_selected_teams = euro12[euro12['Team'].isin(selected_teams)][['Team', 'Shooting Accuracy']]

# Displays shooting accuracy for selected teams in tabular format
print("Shooting Accuracy for England, Italy, and Russia:")
print(shooting_accuracy_selected_teams.to_markdown())
print("\n")

Shooting Accuracy for England, Italy, and Russia:
|    | Team    | Shooting Accuracy   |
|---:|:--------|:--------------------|
|  3 | England | 50.0%               |
|  7 | Italy   | 43.0%               |
| 12 | Russia  | 22.5%               |

<h2>Question 3</h2>
Housing<br>
Step 1. Import the necessary libraries<br>
Step 2. Create 3 differents Series, each of length 100, as follows:<br>
<ul>
<li>The first a random number from 1 to 4</li>
<li>The second a random number from 1 to 3</li>
<li>The third a random number from 10,000 to 30,000 </li></ul>
Step 3. Create a DataFrame by joinning the Series by column<br>
Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter<br>
Step 5. Create a one column DataFrame with the values of the 3 Series and assign it 
to 'bigcolumn'<br>
Step 6. Ops it seems it is going only until index 99. Is it true? <br>
Step 7. Reindex the DataFrame so it goes from 0 to 299<br>

In [19]:
# Import the necessary libraries
import pandas as pd
import numpy as np
from tabulate import tabulate

# Create 3 different Series
# Generates Random integers between 1 and 4
series1 = pd.Series(np.random.randint(1, 5, size=100))  
# Generates Random integers between 1 and 3
series2 = pd.Series(np.random.randint(1, 4, size=100))  
# Generates Random integers between 10000 and 30000
series3 = pd.Series(np.random.randint(10000, 30001, size=100))  

#  Create a DataFrame by joining the Series by column
data = pd.concat([series1, series2, series3], axis=1)

# Change the name of the columns
data.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

# Step 5: Create a one column DataFrame with the values of the 3 Series
bigcolumn = pd.concat([series1, series2, series3], ignore_index=True)

In [20]:
#  Check if the DataFrame goes only until index 99
print("Does the DataFrame go only until index 99?", bigcolumn.index.max() == 99)
print("\n")

Does the DataFrame go only until index 99? False

In [21]:
#  Reindex the DataFrame so it goes from 0 to 299
bigcolumn = bigcolumn.reindex(range(300))

# Prints the DataFrames using tabulate
print("Data DataFrame:")
print(tabulate(data, headers='keys', tablefmt='grid'))
print("\n")

Data DataFrame:
+----+---------+----------+-------------------+
|    |   bedrs |   bathrs |   price_sqr_meter |
+====+=========+==========+===================+
|  0 |       4 |        2 |             29873 |
+----+---------+----------+-------------------+
|  1 |       1 |        1 |             14811 |
+----+---------+----------+-------------------+
|  2 |       2 |        3 |             23604 |
+----+---------+----------+-------------------+
|  3 |       2 |        2 |             17145 |
+----+---------+----------+-------------------+
|  4 |       3 |        1 |             17690 |
+----+---------+----------+-------------------+
|  5 |       4 |        1 |             28058 |
+----+---------+----------+-------------------+
|  6 |       1 |        3 |             14547 |
+----+---------+----------+-------------------+
|  7 |       1 |        1 |             20291 |
+----+---------+----------+-------------------+
|  8 |       1 |        1 |             25060 |
+----+---------+----------+-------------------+
|  9 |       4 |        3 |             29422 |
+----+---------+----------+-------------------+
| 10 |       4 |        1 |             16609 |
+----+---------+----------+-------------------+
| 11 |       1 |        3 |             22948 |
+----+---------+----------+-------------------+
| 12 |       2 |        2 |             15794 |
+----+---------+----------+-------------------+
| 13 |       2 |        1 |             13080 |
+----+---------+----------+-------------------+
| 14 |       1 |        3 |             11959 |
+----+---------+----------+-------------------+
| 15 |       2 |        3 |             23822 |
+----+---------+----------+-------------------+
| 16 |       1 |        2 |             25087 |
+----+---------+----------+-------------------+
| 17 |       2 |        2 |             18064 |
+----+---------+----------+-------------------+
| 18 |       4 |        3 |             19507 |
+----+---------+----------+-------------------+
| 19 |       1 |        2 |             22092 |
+----+---------+----------+-------------------+
| 20 |       2 |        2 |             14498 |
+----+---------+----------+-------------------+
| 21 |       2 |        3 |             10861 |
+----+---------+----------+-------------------+
| 22 |       2 |        3 |             28329 |
+----+---------+----------+-------------------+
| 23 |       1 |        2 |             20183 |
+----+---------+----------+-------------------+
| 24 |       4 |        3 |             27343 |
+----+---------+----------+-------------------+
| 25 |       3 |        3 |             28971 |
+----+---------+----------+-------------------+
| 26 |       1 |        3 |             20274 |
+----+---------+----------+-------------------+
| 27 |       4 |        1 |             16193 |
+----+---------+----------+-------------------+
| 28 |       2 |        1 |             25809 |
+----+---------+----------+-------------------+
| 29 |       2 |        3 |             23270 |
+----+---------+----------+-------------------+
| 30 |       4 |        2 |             11149 |
+----+---------+----------+-------------------+
| 31 |       3 |        3 |             21999 |
+----+---------+----------+-------------------+
| 32 |       2 |        1 |             26640 |
+----+---------+----------+-------------------+
| 33 |       3 |        3 |             23690 |
+----+---------+----------+-------------------+
| 34 |       1 |        2 |             13876 |
+----+---------+----------+-------------------+
| 35 |       2 |        2 |             29008 |
+----+---------+----------+-------------------+
| 36 |       2 |        1 |             24774 |
+----+---------+----------+-------------------+
| 37 |       2 |        2 |             18943 |
+----+---------+----------+-------------------+
| 38 |       3 |        3 |             20211 |
+----+---------+----------+-------------------+
| 39 |       3 |        1 |             12358 |
+----+---------+----------+-------------------+
| 40 |       4 |        3 |             15638 |
+----+---------+----------+-------------------+
| 41 |       4 |        3 |             18629 |
+----+---------+----------+-------------------+
| 42 |       3 |        1 |             15852 |
+----+---------+----------+-------------------+
| 43 |       4 |        2 |             19863 |
+----+---------+----------+-------------------+
| 44 |       1 |        1 |             14884 |
+----+---------+----------+-------------------+
| 45 |       1 |        3 |             27831 |
+----+---------+----------+-------------------+
| 46 |       2 |        2 |             27259 |
+----+---------+----------+-------------------+
| 47 |       4 |        2 |             14290 |
+----+---------+----------+-------------------+
| 48 |       1 |        2 |             26144 |
+----+---------+----------+-------------------+
| 49 |       4 |        3 |             25636 |
+----+---------+----------+-------------------+
| 50 |       1 |        1 |             19502 |
+----+---------+----------+-------------------+
| 51 |       1 |        1 |             13260 |
+----+---------+----------+-------------------+
| 52 |       2 |        1 |             20784 |
+----+---------+----------+-------------------+
| 53 |       2 |        1 |             16397 |
+----+---------+----------+-------------------+
| 54 |       1 |        2 |             14127 |
+----+---------+----------+-------------------+
| 55 |       3 |        1 |             12515 |
+----+---------+----------+-------------------+
| 56 |       2 |        2 |             29782 |
+----+---------+----------+-------------------+
| 57 |       4 |        1 |             19202 |
+----+---------+----------+-------------------+
| 58 |       2 |        1 |             13280 |
+----+---------+----------+-------------------+
| 59 |       4 |        2 |             22024 |
+----+---------+----------+-------------------+
| 60 |       1 |        1 |             11819 |
+----+---------+----------+-------------------+
| 61 |       3 |        3 |             24597 |
+----+---------+----------+-------------------+
| 62 |       4 |        1 |             12558 |
+----+---------+----------+-------------------+
| 63 |       4 |        2 |             27861 |
+----+---------+----------+-------------------+
| 64 |       1 |        1 |             23183 |
+----+---------+----------+-------------------+
| 65 |       1 |        2 |             28093 |
+----+---------+----------+-------------------+
| 66 |       1 |        1 |             22676 |
+----+---------+----------+-------------------+
| 67 |       2 |        1 |             16683 |
+----+---------+----------+-------------------+
| 68 |       4 |        2 |             29126 |
+----+---------+----------+-------------------+
| 69 |       3 |        1 |             22367 |
+----+---------+----------+-------------------+
| 70 |       2 |        1 |             17896 |
+----+---------+----------+-------------------+
| 71 |       3 |        1 |             26139 |
+----+---------+----------+-------------------+
| 72 |       4 |        3 |             14587 |
+----+---------+----------+-------------------+
| 73 |       4 |        1 |             11801 |
+----+---------+----------+-------------------+
| 74 |       4 |        1 |             28536 |
+----+---------+----------+-------------------+
| 75 |       1 |        1 |             15764 |
+----+---------+----------+-------------------+
| 76 |       4 |        3 |             21227 |
+----+---------+----------+-------------------+
| 77 |       1 |        1 |             12767 |
+----+---------+----------+-------------------+
| 78 |       4 |        3 |             11962 |
+----+---------+----------+-------------------+
| 79 |       1 |        1 |             14524 |
+----+---------+----------+-------------------+
| 80 |       2 |        3 |             21378 |
+----+---------+----------+-------------------+
| 81 |       1 |        1 |             22803 |
+----+---------+----------+-------------------+
| 82 |       1 |        3 |             18734 |
+----+---------+----------+-------------------+
| 83 |       2 |        3 |             23743 |
+----+---------+----------+-------------------+
| 84 |       1 |        3 |             20454 |
+----+---------+----------+-------------------+
| 85 |       2 |        1 |             23544 |
+----+---------+----------+-------------------+
| 86 |       3 |        2 |             24980 |
+----+---------+----------+-------------------+
| 87 |       3 |        3 |             16736 |
+----+---------+----------+-------------------+
| 88 |       2 |        1 |             12243 |
+----+---------+----------+-------------------+
| 89 |       4 |        2 |             24984 |
+----+---------+----------+-------------------+
| 90 |       3 |        2 |             28286 |
+----+---------+----------+-------------------+
| 91 |       2 |        1 |             21085 |
+----+---------+----------+-------------------+
| 92 |       4 |        3 |             25965 |
+----+---------+----------+-------------------+
| 93 |       3 |        3 |             24583 |
+----+---------+----------+-------------------+
| 94 |       2 |        2 |             22474 |
+----+---------+----------+-------------------+
| 95 |       1 |        3 |             23225 |
+----+---------+----------+-------------------+
| 96 |       3 |        1 |             17038 |
+----+---------+----------+-------------------+
| 97 |       1 |        3 |             24839 |
+----+---------+----------+-------------------+
| 98 |       2 |        1 |             26161 |
+----+---------+----------+-------------------+
| 99 |       2 |        2 |             23848 |
+----+---------+----------+-------------------+

In [22]:
print("Bigcolumn DataFrame:")
print(tabulate(bigcolumn.to_frame(), headers='keys', tablefmt='grid'))

Bigcolumn DataFrame:
+-----+-------+
|     |     0 |
+=====+=======+
|   0 |     4 |
+-----+-------+
|   1 |     1 |
+-----+-------+
|   2 |     2 |
+-----+-------+
|   3 |     2 |
+-----+-------+
|   4 |     3 |
+-----+-------+
|   5 |     4 |
+-----+-------+
|   6 |     1 |
+-----+-------+
|   7 |     1 |
+-----+-------+
|   8 |     1 |
+-----+-------+
|   9 |     4 |
+-----+-------+
|  10 |     4 |
+-----+-------+
|  11 |     1 |
+-----+-------+
|  12 |     2 |
+-----+-------+
|  13 |     2 |
+-----+-------+
|  14 |     1 |
+-----+-------+
|  15 |     2 |
+-----+-------+
|  16 |     1 |
+-----+-------+
|  17 |     2 |
+-----+-------+
|  18 |     4 |
+-----+-------+
|  19 |     1 |
+-----+-------+
|  20 |     2 |
+-----+-------+
|  21 |     2 |
+-----+-------+
|  22 |     2 |
+-----+-------+
|  23 |     1 |
+-----+-------+
|  24 |     4 |
+-----+-------+
|  25 |     3 |
+-----+-------+
|  26 |     1 |
+-----+-------+
|  27 |     4 |
+-----+-------+
|  28 |     2 |
+-----+-------+
|  29 |     2 |
+-----+-------+
|  30 |     4 |
+-----+-------+
|  31 |     3 |
+-----+-------+
|  32 |     2 |
+-----+-------+
|  33 |     3 |
+-----+-------+
|  34 |     1 |
+-----+-------+
|  35 |     2 |
+-----+-------+
|  36 |     2 |
+-----+-------+
|  37 |     2 |
+-----+-------+
|  38 |     3 |
+-----+-------+
|  39 |     3 |
+-----+-------+
|  40 |     4 |
+-----+-------+
|  41 |     4 |
+-----+-------+
|  42 |     3 |
+-----+-------+
|  43 |     4 |
+-----+-------+
|  44 |     1 |
+-----+-------+
|  45 |     1 |
+-----+-------+
|  46 |     2 |
+-----+-------+
|  47 |     4 |
+-----+-------+
|  48 |     1 |
+-----+-------+
|  49 |     4 |
+-----+-------+
|  50 |     1 |
+-----+-------+
|  51 |     1 |
+-----+-------+
|  52 |     2 |
+-----+-------+
|  53 |     2 |
+-----+-------+
|  54 |     1 |
+-----+-------+
|  55 |     3 |
+-----+-------+
|  56 |     2 |
+-----+-------+
|  57 |     4 |
+-----+-------+
|  58 |     2 |
+-----+-------+
|  59 |     4 |
+-----+-------+
|  60 |     1 |
+-----+-------+
|  61 |     3 |
+-----+-------+
|  62 |     4 |
+-----+-------+
|  63 |     4 |
+-----+-------+
|  64 |     1 |
+-----+-------+
|  65 |     1 |
+-----+-------+
|  66 |     1 |
+-----+-------+
|  67 |     2 |
+-----+-------+
|  68 |     4 |
+-----+-------+
|  69 |     3 |
+-----+-------+
|  70 |     2 |
+-----+-------+
|  71 |     3 |
+-----+-------+
|  72 |     4 |
+-----+-------+
|  73 |     4 |
+-----+-------+
|  74 |     4 |
+-----+-------+
|  75 |     1 |
+-----+-------+
|  76 |     4 |
+-----+-------+
|  77 |     1 |
+-----+-------+
|  78 |     4 |
+-----+-------+
|  79 |     1 |
+-----+-------+
|  80 |     2 |
+-----+-------+
|  81 |     1 |
+-----+-------+
|  82 |     1 |
+-----+-------+
|  83 |     2 |
+-----+-------+
|  84 |     1 |
+-----+-------+
|  85 |     2 |
+-----+-------+
|  86 |     3 |
+-----+-------+
|  87 |     3 |
+-----+-------+
|  88 |     2 |
+-----+-------+
|  89 |     4 |
+-----+-------+
|  90 |     3 |
+-----+-------+
|  91 |     2 |
+-----+-------+
|  92 |     4 |
+-----+-------+
|  93 |     3 |
+-----+-------+
|  94 |     2 |
+-----+-------+
|  95 |     1 |
+-----+-------+
|  96 |     3 |
+-----+-------+
|  97 |     1 |
+-----+-------+
|  98 |     2 |
+-----+-------+
|  99 |     2 |
+-----+-------+
| 100 |     2 |
+-----+-------+
| 101 |     1 |
+-----+-------+
| 102 |     3 |
+-----+-------+
| 103 |     2 |
+-----+-------+
| 104 |     1 |
+-----+-------+
| 105 |     1 |
+-----+-------+
| 106 |     3 |
+-----+-------+
| 107 |     1 |
+-----+-------+
| 108 |     1 |
+-----+-------+
| 109 |     3 |
+-----+-------+
| 110 |     1 |
+-----+-------+
| 111 |     3 |
+-----+-------+
| 112 |     2 |
+-----+-------+
| 113 |     1 |
+-----+-------+
| 114 |     3 |
+-----+-------+
| 115 |     3 |
+-----+-------+
| 116 |     2 |
+-----+-------+
| 117 |     2 |
+-----+-------+
| 118 |     3 |
+-----+-------+
| 119 |     2 |
+-----+-------+
| 120 |     2 |
+-----+-------+
| 121 |     3 |
+-----+-------+
| 122 |     3 |
+-----+-------+
| 123 |     2 |
+-----+-------+
| 124 |     3 |
+-----+-------+
| 125 |     3 |
+-----+-------+
| 126 |     3 |
+-----+-------+
| 127 |     1 |
+-----+-------+
| 128 |     1 |
+-----+-------+
| 129 |     3 |
+-----+-------+
| 130 |     2 |
+-----+-------+
| 131 |     3 |
+-----+-------+
| 132 |     1 |
+-----+-------+
| 133 |     3 |
+-----+-------+
| 134 |     2 |
+-----+-------+
| 135 |     2 |
+-----+-------+
| 136 |     1 |
+-----+-------+
| 137 |     2 |
+-----+-------+
| 138 |     3 |
+-----+-------+
| 139 |     1 |
+-----+-------+
| 140 |     3 |
+-----+-------+
| 141 |     3 |
+-----+-------+
| 142 |     1 |
+-----+-------+
| 143 |     2 |
+-----+-------+
| 144 |     1 |
+-----+-------+
| 145 |     3 |
+-----+-------+
| 146 |     2 |
+-----+-------+
| 147 |     2 |
+-----+-------+
| 148 |     2 |
+-----+-------+
| 149 |     3 |
+-----+-------+
| 150 |     1 |
+-----+-------+
| 151 |     1 |
+-----+-------+
| 152 |     1 |
+-----+-------+
| 153 |     1 |
+-----+-------+
| 154 |     2 |
+-----+-------+
| 155 |     1 |
+-----+-------+
| 156 |     2 |
+-----+-------+
| 157 |     1 |
+-----+-------+
| 158 |     1 |
+-----+-------+
| 159 |     2 |
+-----+-------+
| 160 |     1 |
+-----+-------+
| 161 |     3 |
+-----+-------+
| 162 |     1 |
+-----+-------+
| 163 |     2 |
+-----+-------+
| 164 |     1 |
+-----+-------+
| 165 |     2 |
+-----+-------+
| 166 |     1 |
+-----+-------+
| 167 |     1 |
+-----+-------+
| 168 |     2 |
+-----+-------+
| 169 |     1 |
+-----+-------+
| 170 |     1 |
+-----+-------+
| 171 |     1 |
+-----+-------+
| 172 |     3 |
+-----+-------+
| 173 |     1 |
+-----+-------+
| 174 |     1 |
+-----+-------+
| 175 |     1 |
+-----+-------+
| 176 |     3 |
+-----+-------+
| 177 |     1 |
+-----+-------+
| 178 |     3 |
+-----+-------+
| 179 |     1 |
+-----+-------+
| 180 |     3 |
+-----+-------+
| 181 |     1 |
+-----+-------+
| 182 |     3 |
+-----+-------+
| 183 |     3 |
+-----+-------+
| 184 |     3 |
+-----+-------+
| 185 |     1 |
+-----+-------+
| 186 |     2 |
+-----+-------+
| 187 |     3 |
+-----+-------+
| 188 |     1 |
+-----+-------+
| 189 |     2 |
+-----+-------+
| 190 |     2 |
+-----+-------+
| 191 |     1 |
+-----+-------+
| 192 |     3 |
+-----+-------+
| 193 |     3 |
+-----+-------+
| 194 |     2 |
+-----+-------+
| 195 |     3 |
+-----+-------+
| 196 |     1 |
+-----+-------+
| 197 |     3 |
+-----+-------+
| 198 |     1 |
+-----+-------+
| 199 |     2 |
+-----+-------+
| 200 | 29873 |
+-----+-------+
| 201 | 14811 |
+-----+-------+
| 202 | 23604 |
+-----+-------+
| 203 | 17145 |
+-----+-------+
| 204 | 17690 |
+-----+-------+
| 205 | 28058 |
+-----+-------+
| 206 | 14547 |
+-----+-------+
| 207 | 20291 |
+-----+-------+
| 208 | 25060 |
+-----+-------+
| 209 | 29422 |
+-----+-------+
| 210 | 16609 |
+-----+-------+
| 211 | 22948 |
+-----+-------+
| 212 | 15794 |
+-----+-------+
| 213 | 13080 |
+-----+-------+
| 214 | 11959 |
+-----+-------+
| 215 | 23822 |
+-----+-------+
| 216 | 25087 |
+-----+-------+
| 217 | 18064 |
+-----+-------+
| 218 | 19507 |
+-----+-------+
| 219 | 22092 |
+-----+-------+
| 220 | 14498 |
+-----+-------+
| 221 | 10861 |
+-----+-------+
| 222 | 28329 |
+-----+-------+
| 223 | 20183 |
+-----+-------+
| 224 | 27343 |
+-----+-------+
| 225 | 28971 |
+-----+-------+
| 226 | 20274 |
+-----+-------+
| 227 | 16193 |
+-----+-------+
| 228 | 25809 |
+-----+-------+
| 229 | 23270 |
+-----+-------+
| 230 | 11149 |
+-----+-------+
| 231 | 21999 |
+-----+-------+
| 232 | 26640 |
+-----+-------+
| 233 | 23690 |
+-----+-------+
| 234 | 13876 |
+-----+-------+
| 235 | 29008 |
+-----+-------+
| 236 | 24774 |
+-----+-------+
| 237 | 18943 |
+-----+-------+
| 238 | 20211 |
+-----+-------+
| 239 | 12358 |
+-----+-------+
| 240 | 15638 |
+-----+-------+
| 241 | 18629 |
+-----+-------+
| 242 | 15852 |
+-----+-------+
| 243 | 19863 |
+-----+-------+
| 244 | 14884 |
+-----+-------+
| 245 | 27831 |
+-----+-------+
| 246 | 27259 |
+-----+-------+
| 247 | 14290 |
+-----+-------+
| 248 | 26144 |
+-----+-------+
| 249 | 25636 |
+-----+-------+
| 250 | 19502 |
+-----+-------+
| 251 | 13260 |
+-----+-------+
| 252 | 20784 |
+-----+-------+
| 253 | 16397 |
+-----+-------+
| 254 | 14127 |
+-----+-------+
| 255 | 12515 |
+-----+-------+
| 256 | 29782 |
+-----+-------+
| 257 | 19202 |
+-----+-------+
| 258 | 13280 |
+-----+-------+
| 259 | 22024 |
+-----+-------+
| 260 | 11819 |
+-----+-------+
| 261 | 24597 |
+-----+-------+
| 262 | 12558 |
+-----+-------+
| 263 | 27861 |
+-----+-------+
| 264 | 23183 |
+-----+-------+
| 265 | 28093 |
+-----+-------+
| 266 | 22676 |
+-----+-------+
| 267 | 16683 |
+-----+-------+
| 268 | 29126 |
+-----+-------+
| 269 | 22367 |
+-----+-------+
| 270 | 17896 |
+-----+-------+
| 271 | 26139 |
+-----+-------+
| 272 | 14587 |
+-----+-------+
| 273 | 11801 |
+-----+-------+
| 274 | 28536 |
+-----+-------+
| 275 | 15764 |
+-----+-------+
| 276 | 21227 |
+-----+-------+
| 277 | 12767 |
+-----+-------+
| 278 | 11962 |
+-----+-------+
| 279 | 14524 |
+-----+-------+
| 280 | 21378 |
+-----+-------+
| 281 | 22803 |
+-----+-------+
| 282 | 18734 |
+-----+-------+
| 283 | 23743 |
+-----+-------+
| 284 | 20454 |
+-----+-------+
| 285 | 23544 |
+-----+-------+
| 286 | 24980 |
+-----+-------+
| 287 | 16736 |
+-----+-------+
| 288 | 12243 |
+-----+-------+
| 289 | 24984 |
+-----+-------+
| 290 | 28286 |
+-----+-------+
| 291 | 21085 |
+-----+-------+
| 292 | 25965 |
+-----+-------+
| 293 | 24583 |
+-----+-------+
| 294 | 22474 |
+-----+-------+
| 295 | 23225 |
+-----+-------+
| 296 | 17038 |
+-----+-------+
| 297 | 24839 |
+-----+-------+
| 298 | 26161 |
+-----+-------+
| 299 | 23848 |
+-----+-------+

<h2>Question 4</h2>
Wind Statistics<br>
The data have been modified to contain some missing values, identified by NaN. 
Using pandas should make this exercise easier, in particular for the bonus question.<br>
You should be able to perform all of these operations without using a for loop or 
other looping construct.<br>
The data in 'wind.data' has the following format:<br>
Yr Mo Dy RPT VAL ROS KIL SHA BIR DUB CLA MUL CLO BEL 
MAL<br>
61 1 1 15.04 14.96 13.17 9.29 NaN 9.87 13.67 10.25 10.83 12.58 18.50 15.04<br>
61 1 2 14.71 NaN 10.83 6.50 12.62 7.67 11.50 10.04 9.79 9.67 17.54 13.83<br>
61 1 3 18.50 16.88 12.33 10.13 11.17 6.17 11.25 NaN 8.50 7.67 12.75 12.71<br>

The first three columns are year, month, and day. The remaining 12 columns are 
average windspeeds in knots at 12 locations in Ireland on that day.<br>
Step 1. Import the necessary libraries<br>
Step 2. Import the dataset from the attached file wind.txt<br>
Step 3. Assign it to a variable called data and replace the first 3 columns by a proper 
datetime index.<br>
Step 4. Year 2061? Do we really have data from this year? Create a function to fix it 
and apply it.<br>
Step 5. Set the right dates as the index. Pay attention at the data type, it should be 
datetime64[ns].<br>
Step 6. Compute how many values are missing for each location over the entire 
record.They should be ignored in all calculations below.<br>
Step 7. Compute how many non-missing values there are in total.<br>
Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and 
all the times.<br>
A single number for the entire dataset.<br>
Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean 
windspeeds and standard deviations of the windspeeds at each location over all the 
days
A different set of numbers for each location.
<br>Step 10. Create a DataFrame called day_stats and calculate the min, max and mean 
windspeed and standard deviations of the windspeeds across all the locations at each 
day.
A different set of numbers for each day.<br>
Step 11. Find the average windspeed in January for each location. 
Treat January 1961 and January 1962 both as January.<br>
Step 12. Downsample the record to a yearly frequency for each location. <br>
Step 13. Downsample the record to a monthly frequency for each location. <br>
Step 14. Downsample the record to a weekly frequency for each location.<br>
Step 15. Calculate the min, max and mean windspeeds and standard deviations of the 
windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [23]:
# Import necessary libraries
import pandas as pd

# Read the dataset
data = pd.read_csv("wind.txt", sep=" ")

# Define a function to fix year values
def fix_year(year):
    if year >= 90:
        return 1900 + year
    else:
        return 2000 + year

# Apply the fix_year function to the 'Yr' column
data['Yr'] = data['Yr'].apply(fix_year)

#  Rename columns
data = data.rename(columns={'Yr': 'year', 'Mo': 'month', 'Dy': 'day'})

#  Create a new 'date' column by combining year, month, and day columns
data['date'] = pd.to_datetime(data[['year', 'month', 'day']])

# Set the 'date' column as the index
data.set_index('date', inplace=True)

In [24]:
# Display the first few rows of the dataset
print("First few rows of the dataset:\n", data.head())

First few rows of the dataset:
       year  month  day  Unnamed: 3  Unnamed: 4    RPT  Unnamed: 6  Unnamed: 7  \
date
NaT   2061    NaN  1.0         NaN         1.0  15.04       14.96       13.17
NaT   2061    NaN  1.0         NaN         2.0  14.71         NaN         NaN
NaT   2061    NaN  1.0         NaN         3.0  18.50       16.88       12.33
NaT   2061    NaN  1.0         NaN         4.0  10.58         NaN        6.63
NaT   2061    NaN  1.0         NaN         5.0  13.33       13.25       11.42

        VAL  Unnamed: 9  ...  MUL  Unnamed: 30  Unnamed: 31  CLO  Unnamed: 33  \
date                     ...
NaT     NaN        9.29  ...  NaN          NaN          NaN  NaN          NaN
NaT     NaN       10.83  ...  NaN          NaN          NaN  NaN          NaN
NaT   10.13       11.17  ...  NaN          NaN          NaN  NaN          NaN
NaT   11.75         NaN  ...  NaN          NaN          NaN  NaN          NaN
NaT     NaN        6.17  ...  NaN          NaN          NaN  NaN          NaN

      Unnamed: 34  BEL  Unnamed: 36  Unnamed: 37  MAL
date
NaT           NaN  NaN          NaN          NaN  NaN
NaT           NaN  NaN          NaN          NaN  NaN
NaT           NaN  NaN          NaN          NaN  NaN
NaT           NaN  NaN          NaN          NaN  NaN
NaT           NaN  NaN          NaN          NaN  NaN

[5 rows x 39 columns]

In [25]:
# Count missing values for each location
missing_values_per_location = data.isnull().sum()

#  Display the missing values count
print("Missing Values Count Per Location:")
print(missing_values_per_location)

Missing Values Count Per Location:
year              0
month          4918
day             486
Unnamed: 3     1831
Unnamed: 4     1667
RPT            1625
Unnamed: 6     2256
Unnamed: 7     2478
VAL            2432
Unnamed: 9     2101
Unnamed: 10    2575
ROS            2152
Unnamed: 12    2393
Unnamed: 13    2143
KIL            2331
Unnamed: 15    2221
Unnamed: 16    2985
SHA            3204
Unnamed: 18    3687
Unnamed: 19    3732
BIR            4065
Unnamed: 21    4078
Unnamed: 22    4462
DUB            4416
Unnamed: 24    4817
Unnamed: 25    5032
CLA            5590
Unnamed: 27    5963
Unnamed: 28    6428
MUL            6574
Unnamed: 30    6573
Unnamed: 31    6574
CLO            6574
Unnamed: 33    6574
Unnamed: 34    6574
BEL            6574
Unnamed: 36    6574
Unnamed: 37    6574
MAL            6574
dtype: int64

In [26]:
#  Count non-missing values in the entire dataset
total_non_missing_values = data.notnull().sum().sum()

#  Display the total number of non-missing values
print("Total Number of Non-Missing Values:", total_non_missing_values)

Total Number of Non-Missing Values: 98579

In [27]:
#  Calculate the mean windspeed over all locations and times
mean_windspeed = data.mean().mean()

#  Display the mean windspeed
print("Mean Windspeed Over All Locations and Times:", mean_windspeed)

Mean Windspeed Over All Locations and Times: 78.53632829425008

In [28]:
#  Calculate statistics for each location
loc_stats = pd.DataFrame({
    'min': data.min(),
    'max': data.max(),
    'mean': data.mean(),
    'std': data.std()
})

#  Display the loc_stats DataFrame
print("Statistics for Windspeed at Each Location:")
print(loc_stats)

Statistics for Windspeed at Each Location:
                 min      max         mean       std
year         2061.00  2078.00  2069.500304  5.188131
month          10.00    12.00    11.000000  0.821170
day             1.00    31.00     7.960578  7.025155
Unnamed: 3      1.00    32.96    17.997723  7.320219
Unnamed: 4      1.00    35.38    11.769851  6.146505
RPT             0.67    35.80    12.415559  5.229848
Unnamed: 6      0.21    32.75    11.842916  4.940703
Unnamed: 7      0.42    30.37     9.967187  4.911509
VAL             0.33    37.54    10.106519  4.953028
Unnamed: 9      0.25    32.42    10.079287  4.583270
Unnamed: 10     0.00    30.37     9.848580  5.254887
ROS             0.08    31.08     9.175468  5.175858
Unnamed: 12     0.13    28.21     9.901736  4.674471
Unnamed: 13     0.04    38.96     9.994572  5.011803
KIL             0.00    42.38    10.897985  6.676379
Unnamed: 15     0.00    42.54    10.921328  7.623103
Unnamed: 16     0.00    35.13    10.658755  6.660911
SHA             0.25    37.99     9.439496  5.788945
Unnamed: 18     0.00    41.46     9.127191  5.524925
Unnamed: 19     0.04    33.66     8.309641  5.358097
BIR             0.00    35.50     8.548127  5.315896
Unnamed: 21     0.29    33.17     8.132188  5.180466
Unnamed: 22     0.04    33.04     8.451222  5.071942
DUB             0.04    34.08     8.168874  4.968116
Unnamed: 24     0.13    25.54     9.439585  4.574218
Unnamed: 25     0.13    25.00     9.420863  4.048751
CLA             0.58    26.25     9.240346  3.623705
Unnamed: 27     2.04    27.88     7.857807  3.134903
Unnamed: 28     2.21     9.96     6.706164  1.947997
MUL              NaN      NaN          NaN       NaN
Unnamed: 30     9.21     9.21     9.210000       NaN
Unnamed: 31      NaN      NaN          NaN       NaN
CLO              NaN      NaN          NaN       NaN
Unnamed: 33      NaN      NaN          NaN       NaN
Unnamed: 34      NaN      NaN          NaN       NaN
BEL              NaN      NaN          NaN       NaN
Unnamed: 36      NaN      NaN          NaN       NaN
Unnamed: 37      NaN      NaN          NaN       NaN
MAL              NaN      NaN          NaN       NaN

In [29]:
#  Calculate statistics for each day
day_stats = data.resample('D').agg({
    'RPT': ['min', 'max', 'mean', 'std'],
    'VAL': ['min', 'max', 'mean', 'std'],
    'ROS': ['min', 'max', 'mean', 'std'],
    'KIL': ['min', 'max', 'mean', 'std'],
    'SHA': ['min', 'max', 'mean', 'std'],
    'BIR': ['min', 'max', 'mean', 'std'],
    'DUB': ['min', 'max', 'mean', 'std'],
    'CLA': ['min', 'max', 'mean', 'std'],
    'MUL': ['min', 'max', 'mean', 'std'],
    'CLO': ['min', 'max', 'mean', 'std'],
    'BEL': ['min', 'max', 'mean', 'std'],
    'MAL': ['min', 'max', 'mean', 'std']
})

#  Display the day_stats DataFrame
print("Statistics for Windspeed Across All Locations Each Day:")
print(day_stats)

Statistics for Windspeed Across All Locations Each Day:
              RPT                      VAL                      ROS         \
              min    max   mean std    min    max   mean std    min    max
date
2061-10-10  11.46  11.46  11.46 NaN  13.17  13.17  13.17 NaN  12.38  12.38
2061-10-11  10.13  10.13  10.13 NaN  13.54  13.54  13.54 NaN  12.71  12.71
2061-10-12    NaN    NaN    NaN NaN    NaN    NaN    NaN NaN   3.67   3.67
2061-10-13    NaN    NaN    NaN NaN   6.58   6.58   6.58 NaN   8.67   8.67
2061-10-14    NaN    NaN    NaN NaN   4.38   4.38   4.38 NaN    NaN    NaN
...           ...    ...    ...  ..    ...    ...    ...  ..    ...    ...
2078-12-27  17.62  17.62  17.62 NaN  13.21  13.21  13.21 NaN  15.59  15.59
2078-12-28   5.46   5.46   5.46 NaN   5.00   5.00   5.00 NaN    NaN    NaN
2078-12-29  14.42  14.42  14.42 NaN    NaN    NaN    NaN NaN  19.17  19.17
2078-12-30  21.29  21.29  21.29 NaN  12.75  12.75  12.75 NaN  18.08  18.08
2078-12-31  27.29  27.29  27.29 NaN  12.08  12.08  12.08 NaN  11.63  11.63

            ...  CLO     BEL              MAL
            ... mean std min max mean std min max mean std
date        ...
2061-10-10  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2061-10-11  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2061-10-12  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2061-10-13  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2061-10-14  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
...         ...  ...  ..  ..  ..  ...  ..  ..  ..  ...  ..
2078-12-27  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2078-12-28  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2078-12-29  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2078-12-30  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
2078-12-31  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN

[6292 rows x 48 columns]

In [30]:
#  Downsample to yearly frequency for each location
yearly_data = data.resample('Y').mean()

#  Display the yearly_data DataFrame
print("Yearly Downsampled Data for Each Location:")
print(yearly_data)

Yearly Downsampled Data for Each Location:
              year  month        day  Unnamed: 3  Unnamed: 4        RPT  \
date
2061-12-31  2061.0   11.0  20.338462   16.566000   11.814909  15.841951
2062-12-31  2062.0   11.0  20.338462   15.949268   10.689818  13.582432
2063-12-31  2063.0   11.0  20.338462   17.883061   14.188929  14.539057
2064-12-31  2064.0   11.0  20.338462   16.380714   11.891379  14.196341
2065-12-31  2065.0   11.0  20.338462   16.221250   13.019643  14.180000
2066-12-31  2066.0   11.0  20.338462   15.683800   12.656200  12.500652
2067-12-31  2067.0   11.0  20.338462   16.297209   12.231754  12.910000
2068-12-31  2068.0   11.0  20.338462   16.102449   13.362083  12.840400
2069-12-31  2069.0   11.0  20.338462   15.225833   11.346316  14.435758
2070-12-31  2070.0   11.0  20.338462   15.544783   12.165472  13.799535
2071-12-31  2071.0   11.0  20.338462   16.390426   12.661228  15.008636
2072-12-31  2072.0   11.0  20.338462   16.579512   13.259167  14.032093
2073-12-31  2073.0   11.0  20.338462   14.787619   11.516271  13.419677
2074-12-31  2074.0   11.0  20.338462   18.597755   14.828621  15.031111
2075-12-31  2075.0   11.0  20.338462   15.897500   12.775500  14.230811
2076-12-31  2076.0   11.0  20.338462   15.081875   10.333276  12.045714
2077-12-31  2077.0   11.0  20.338462   17.443962   14.407258  14.316731
2078-12-31  2078.0   11.0  20.338462   17.015750   12.364211  13.752619

            Unnamed: 6  Unnamed: 7        VAL  Unnamed: 9  ...  MUL  \
date                                                       ...
2061-12-31   10.159111   12.305294   9.467321   12.319667  ...  NaN
2062-12-31    8.510625   11.932187   8.889464   13.017742  ...  NaN
2063-12-31   11.972308   12.298600  12.234000   11.875682  ...  NaN
2064-12-31    9.183684   10.177179   9.567660   10.262500  ...  NaN
2065-12-31   10.478913   11.594615   9.736792   12.319118  ...  NaN
2066-12-31   10.476596   12.651389   9.357551   11.902432  ...  NaN
2067-12-31    8.958095   12.188500   9.992642   11.931515  ...  NaN
2068-12-31   11.475000   11.130000   9.421509   10.913333  ...  NaN
2069-12-31    8.022667    9.874828   8.377547    9.420000  ...  NaN
2070-12-31    9.753000    9.721176   9.115536   10.148065  ...  NaN
2071-12-31    9.642162    9.986500  10.705965   11.788182  ...  NaN
2072-12-31    9.645500   10.703636   9.760444    9.811111  ...  NaN
2073-12-31    8.496512    9.544706   8.668846    9.673333  ...  NaN
2074-12-31   10.188478   14.481667   9.999074   14.420000  ...  NaN
2075-12-31    7.522571    9.210541   9.652745    9.624643  ...  NaN
2076-12-31    7.047234    7.709630   7.912308    8.555000  ...  NaN
2077-12-31   10.115862   10.307800  10.866078   12.336667  ...  NaN
2078-12-31    8.494872    9.537895   9.525510    9.665882  ...  NaN

            Unnamed: 30  Unnamed: 31  CLO  Unnamed: 33  Unnamed: 34  BEL  \
date
2061-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2062-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2063-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2064-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2065-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2066-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2067-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2068-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2069-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2070-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2071-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2072-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2073-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2074-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2075-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2076-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2077-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2078-12-31          NaN          NaN  NaN          NaN          NaN  NaN

            Unnamed: 36  Unnamed: 37  MAL
date
2061-12-31          NaN          NaN  NaN
2062-12-31          NaN          NaN  NaN
2063-12-31          NaN          NaN  NaN
2064-12-31          NaN          NaN  NaN
2065-12-31          NaN          NaN  NaN
2066-12-31          NaN          NaN  NaN
2067-12-31          NaN          NaN  NaN
2068-12-31          NaN          NaN  NaN
2069-12-31          NaN          NaN  NaN
2070-12-31          NaN          NaN  NaN
2071-12-31          NaN          NaN  NaN
2072-12-31          NaN          NaN  NaN
2073-12-31          NaN          NaN  NaN
2074-12-31          NaN          NaN  NaN
2075-12-31          NaN          NaN  NaN
2076-12-31          NaN          NaN  NaN
2077-12-31          NaN          NaN  NaN
2078-12-31          NaN          NaN  NaN

[18 rows x 39 columns]

In [31]:
#  Downsample to monthly frequency for each location
monthly_data = data.resample('M').mean()

#  Display the monthly_data DataFrame
print("Monthly Downsampled Data for Each Location:")
print(monthly_data)

Monthly Downsampled Data for Each Location:
              year  month   day  Unnamed: 3  Unnamed: 4        RPT  \
date
2061-10-31  2061.0   10.0  20.5   17.926250   12.380000  15.567143
2061-11-30  2061.0   11.0  20.0   14.340909    9.925625  13.765385
2061-12-31  2061.0   12.0  20.5   16.716667   12.789500  18.045000
2062-01-31     NaN    NaN   NaN         NaN         NaN        NaN
2062-02-28     NaN    NaN   NaN         NaN         NaN        NaN
...            ...    ...   ...         ...         ...        ...
2078-08-31     NaN    NaN   NaN         NaN         NaN        NaN
2078-09-30     NaN    NaN   NaN         NaN         NaN        NaN
2078-10-31  2078.0   10.0  20.5   13.551429    8.213000  10.777778
2078-11-30  2078.0   11.0  20.0   18.382353   15.230526  14.974375
2078-12-31  2078.0   12.0  20.5   17.079375   13.951111  14.177647

            Unnamed: 6  Unnamed: 7        VAL  Unnamed: 9  ...  MUL  \
date                                                       ...
2061-10-31   10.727333   13.672143  10.386500   14.828182  ...  NaN
2061-11-30    9.786000   10.561111   7.889333    8.311818  ...  NaN
2061-12-31    9.964000   11.992727   9.719048   14.381250  ...  NaN
2062-01-31         NaN         NaN        NaN         NaN  ...  NaN
2062-02-28         NaN         NaN        NaN         NaN  ...  NaN
...                ...         ...        ...         ...  ...  ...
2078-08-31         NaN         NaN        NaN         NaN  ...  NaN
2078-09-30         NaN         NaN        NaN         NaN  ...  NaN
2078-10-31    5.720588    8.578750   7.581667    8.122500  ...  NaN
2078-11-30   10.928182   10.156429  10.471875   11.777500  ...  NaN
2078-12-31   10.349091    9.476250  10.848667    8.737857  ...  NaN

            Unnamed: 30  Unnamed: 31  CLO  Unnamed: 33  Unnamed: 34  BEL  \
date
2061-10-31          NaN          NaN  NaN          NaN          NaN  NaN
2061-11-30          NaN          NaN  NaN          NaN          NaN  NaN
2061-12-31          NaN          NaN  NaN          NaN          NaN  NaN
2062-01-31          NaN          NaN  NaN          NaN          NaN  NaN
2062-02-28          NaN          NaN  NaN          NaN          NaN  NaN
...                 ...          ...  ...          ...          ...  ...
2078-08-31          NaN          NaN  NaN          NaN          NaN  NaN
2078-09-30          NaN          NaN  NaN          NaN          NaN  NaN
2078-10-31          NaN          NaN  NaN          NaN          NaN  NaN
2078-11-30          NaN          NaN  NaN          NaN          NaN  NaN
2078-12-31          NaN          NaN  NaN          NaN          NaN  NaN

            Unnamed: 36  Unnamed: 37  MAL
date
2061-10-31          NaN          NaN  NaN
2061-11-30          NaN          NaN  NaN
2061-12-31          NaN          NaN  NaN
2062-01-31          NaN          NaN  NaN
2062-02-28          NaN          NaN  NaN
...                 ...          ...  ...
2078-08-31          NaN          NaN  NaN
2078-09-30          NaN          NaN  NaN
2078-10-31          NaN          NaN  NaN
2078-11-30          NaN          NaN  NaN
2078-12-31          NaN          NaN  NaN

[207 rows x 39 columns]

In [32]:
#  Downsample to weekly frequency for each location
weekly_data = data.resample('W').mean()

# Display the weekly_data DataFrame
print("Weekly Downsampled Data for Each Location:")
print(weekly_data)

Weekly Downsampled Data for Each Location:
              year  month   day  Unnamed: 3  Unnamed: 4        RPT  \
date
2061-10-16  2061.0   10.0  13.0   12.312500    9.648333  10.795000
2061-10-23  2061.0   10.0  20.0   20.212857   16.942000  15.281429
2061-10-30  2061.0   10.0  27.0   20.615000   11.695714  19.095000
2061-11-06  2061.0   10.0  31.0   13.620000   10.750000  13.000000
2061-11-13  2061.0   11.0  11.5   15.303333   10.960000  20.996667
...            ...    ...   ...         ...         ...        ...
2078-12-04  2078.0   11.0  29.0   14.900000    9.730000   7.355000
2078-12-11  2078.0   12.0  10.5   22.585000   20.855000  17.185000
2078-12-18  2078.0   12.0  15.0   17.438000   16.424000  12.343333
2078-12-25  2078.0   12.0  22.0   14.486667    9.453333  12.056667
2079-01-01  2078.0   12.0  28.5   16.241667   14.114000  16.070000

            Unnamed: 6  Unnamed: 7        VAL  Unnamed: 9  ...  MUL  \
date                                                       ...
2061-10-16    7.710000      8.6400   8.515000   10.657500  ...  NaN
2061-10-23   14.193333     18.0100  11.710000   19.450000  ...  NaN
2061-10-30    8.982000     13.4220  10.528333   14.226667  ...  NaN
2061-11-06         NaN      8.3300  11.500000         NaN  ...  NaN
2061-11-13   12.670000      8.7900   8.363333    9.275000  ...  NaN
...                ...         ...        ...         ...  ...  ...
2078-12-04   11.000000      3.3300   5.940000    9.590000  ...  NaN
2078-12-11   13.125000     16.6900  13.185000   14.020000  ...  NaN
2078-12-18   12.373333      7.7375  11.068333    8.070000  ...  NaN
2078-12-25    7.402000      9.8820   8.970000    6.322000  ...  NaN
2079-01-01   13.460000      7.5760  10.760000    9.617500  ...  NaN

            Unnamed: 30  Unnamed: 31  CLO  Unnamed: 33  Unnamed: 34  BEL  \
date
2061-10-16          NaN          NaN  NaN          NaN          NaN  NaN
2061-10-23          NaN          NaN  NaN          NaN          NaN  NaN
2061-10-30          NaN          NaN  NaN          NaN          NaN  NaN
2061-11-06          NaN          NaN  NaN          NaN          NaN  NaN
2061-11-13          NaN          NaN  NaN          NaN          NaN  NaN
...                 ...          ...  ...          ...          ...  ...
2078-12-04          NaN          NaN  NaN          NaN          NaN  NaN
2078-12-11          NaN          NaN  NaN          NaN          NaN  NaN
2078-12-18          NaN          NaN  NaN          NaN          NaN  NaN
2078-12-25          NaN          NaN  NaN          NaN          NaN  NaN
2079-01-01          NaN          NaN  NaN          NaN          NaN  NaN

            Unnamed: 36  Unnamed: 37  MAL
date
2061-10-16          NaN          NaN  NaN
2061-10-23          NaN          NaN  NaN
2061-10-30          NaN          NaN  NaN
2061-11-06          NaN          NaN  NaN
2061-11-13          NaN          NaN  NaN
...                 ...          ...  ...
2078-12-04          NaN          NaN  NaN
2078-12-11          NaN          NaN  NaN
2078-12-18          NaN          NaN  NaN
2078-12-25          NaN          NaN  NaN
2079-01-01          NaN          NaN  NaN

[899 rows x 39 columns]

In [33]:
#  Downsample to weekly frequency and calculate statistics
weekly_stats = data.resample('W').agg({
    'RPT': ['min', 'max', 'mean', 'std'],
    'VAL': ['min', 'max', 'mean', 'std'],
    'ROS': ['min', 'max', 'mean', 'std'],
    'KIL': ['min', 'max', 'mean', 'std'],
    'SHA': ['min', 'max', 'mean', 'std'],
    'BIR': ['min', 'max', 'mean', 'std'],
    'DUB': ['min', 'max', 'mean', 'std'],
    'CLA': ['min', 'max', 'mean', 'std'],
    'MUL': ['min', 'max', 'mean', 'std'],
    'CLO': ['min', 'max', 'mean', 'std'],
    'BEL': ['min', 'max', 'mean', 'std'],
    'MAL': ['min', 'max', 'mean', 'std']
})

#  Display the weekly_stats DataFrame
print("Weekly Statistics for Windspeed Across All Locations:")
print(weekly_stats)

Weekly Statistics for Windspeed Across All Locations:
              RPT                                 VAL                    \
              min    max       mean        std    min    max       mean
date
2061-10-16  10.13  11.46  10.795000   0.940452   4.21  13.54   8.515000
2061-10-23   3.75  22.63  15.281429   7.024254   6.83  16.42  11.710000
2061-10-30  13.00  23.09  19.095000   4.839921   4.79  15.46  10.528333
2061-11-06  13.00  13.00  13.000000        NaN  11.50  11.50  11.500000
2061-11-13   9.87  32.71  20.996667  11.431296   6.92   9.59   8.363333
...           ...    ...        ...        ...    ...    ...        ...
2078-12-04   4.54  10.17   7.355000   3.981011   3.50   8.38   5.940000
2078-12-11  16.54  17.83  17.185000   0.912168  13.00  13.37  13.185000
2078-12-18   8.92  18.05  12.343333   3.492676   5.21  18.12  11.068333
2078-12-25   3.83  22.21  12.056667   9.340243   4.79  14.29   8.970000
2079-01-01   5.46  27.29  16.070000   7.793161   5.00  13.21  10.760000

                        ROS         ...  CLO     BEL              MAL      \
                 std    min    max  ... mean std min max mean std min max
date                                ...
2061-10-16  4.166009   3.67  12.71  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2061-10-23  3.264772  13.21  18.00  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2061-10-30  4.352450  15.37  15.37  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2061-11-06       NaN  15.25  15.25  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2061-11-13  1.348122   5.17  10.04  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
...              ...    ...    ...  ...  ...  ..  ..  ..  ...  ..  ..  ..
2078-12-04  3.450681   8.83   8.83  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2078-12-11  0.261630  15.54  16.21  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2078-12-18  5.068954   9.08  13.75  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2078-12-25  4.851515   3.50  17.16  ...  NaN NaN NaN NaN  NaN NaN NaN NaN
2079-01-01  3.867928   4.29  19.17  ...  NaN NaN NaN NaN  NaN NaN NaN NaN


           mean std
date
2061-10-16  NaN NaN
2061-10-23  NaN NaN
2061-10-30  NaN NaN
2061-11-06  NaN NaN
2061-11-13  NaN NaN
...         ...  ..
2078-12-04  NaN NaN
2078-12-11  NaN NaN
2078-12-18  NaN NaN
2078-12-25  NaN NaN
2079-01-01  NaN NaN

[899 rows x 48 columns]

<h2>Question 5</h2>
Step 1. Import the necessary libraries <br>
Step 2. Import the dataset from this address. <br>
Step 3. Assign it to a variable called chipo. <br>
Step 4. See the first 10 entries<br>
Step 5. What is the number of observations in the dataset? <br>
Step 6. What is the number of columns in the dataset?<br>
Step 7. Print the name of all the columns. <br>
Step 8. How is the dataset indexed?<br>
Step 9. Which was the most-ordered item?<br>
Step 10. For the most-ordered item, how many items were ordered?<br>
Step 11. What was the most ordered item in the choice_description column? <br>
Step 12. How many items were orderd in total?<br>
Step 13.<ul>
<li>Turn the item price into a float</li>
<li>Check the item price type</li>
<li>Create a lambda function and change the type of item price</li>
<li>Check the item price type</li></ul>
Step 14. How much was the revenue for the period in the dataset? <br>
Step 15. How many orders were made in the period? <br>
Step 16. What is the average revenue amount per order? <br>
Step 17. How many different items are sold? <br>

In [34]:
# Import the necessary libraries
import pandas as pd
from tabulate import tabulate

# Import the dataset
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

#  Assign it to a variable called chipo
chipo = pd.read_csv(url, sep='\t')

In [35]:
# See the first 10 entries
print("First 10 entries")
print(tabulate(chipo.head(10), headers='keys', tablefmt='grid'))
print("\n")

First 10 entries
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|    |   order_id |   quantity | item_name                             | choice_description                                                                                                 | item_price   |
+====+============+============+=======================================+====================================================================================================================+==============+
|  0 |          1 |          1 | Chips and Fresh Tomato Salsa          | nan                                                                                                                | $2.39        |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  1 |          1 |          1 | Izze                                  | [Clementine]                                                                                                       | $3.39        |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  2 |          1 |          1 | Nantucket Nectar                      | [Apple]                                                                                                            | $3.39        |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  3 |          1 |          1 | Chips and Tomatillo-Green Chili Salsa | nan                                                                                                                | $2.39        |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  4 |          2 |          2 | Chicken Bowl                          | [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]                                         | $16.98       |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  5 |          3 |          1 | Chicken Bowl                          | [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                        | $10.98       |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  6 |          3 |          1 | Side of Chips                         | nan                                                                                                                | $1.69        |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  7 |          4 |          1 | Steak Burrito                         | [Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]] | $11.75       |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  8 |          4 |          1 | Steak Soft Tacos                      | [Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]                                          | $9.25        |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+
|  9 |          5 |          1 | Steak Burrito                         | [Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]                                | $9.25        |
+----+------------+------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------+--------------+

In [36]:
#  What is the number of observations in the dataset?
num_observations = chipo.shape[0]
print("Number of observations in the dataset:", num_observations)
print("\n")

Number of observations in the dataset: 4622

In [37]:
#  What is the number of columns in the dataset?
num_columns = chipo.shape[1]
print("Number of columns in the dataset:", num_columns)
print("\n")

Number of columns in the dataset: 5

In [8]:
#  Print the name of all the columns
print("Column names:")
print(tabulate(pd.DataFrame(chipo.columns, columns=['Column Name']), headers='keys', tablefmt='grid'))
print("\n")

Column names:

NameError: name 'tabulate' is not defined

In [7]:
#  How is the dataset indexed?
print("Dataset indexing:")
index_sample = chipo.index[:10]  # Get the first 10 indices
print(tabulate(pd.DataFrame(index_sample, columns=['Index']), headers='keys', tablefmt='grid'))
print("...")  # Indicate that the output is truncated
print("...")  # Indicate that the output is truncated
print("...")  # Indicate that the output is truncated
print("...")  # Indicate that the output is truncated
print("\n")

Dataset indexing:

NameError: name 'chipo' is not defined

In [40]:
#  Which was the most-ordered item?
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("Most-ordered item:", most_ordered_item)
print("\n")

Most-ordered item: Chicken Bowl

In [41]:
#  For the most-ordered item, how many items were ordered?
most_ordered_item_count = chipo[chipo['item_name'] == most_ordered_item]['quantity'].sum()
print("Number of items ordered for the most-ordered item:", most_ordered_item_count)
print("\n")

Number of items ordered for the most-ordered item: 761

In [42]:
#  What was the most ordered item in the choice_description column?
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("Most ordered item in the choice_description column:", most_ordered_choice)
print("\n")

Most ordered item in the choice_description column: [Diet Coke]

In [43]:
#  How many items were ordered in total?
total_items_ordered = chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)
print("\n")

Total number of items ordered: 4972

In [44]:
#  Convert item price to float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

# Checking item price type after conversion
print("Item price type after conversion:")
print(chipo['item_price'].dtype)
print("\n")

Item price type after conversion:
float64

In [45]:
#  How much was the revenue for the period in the dataset?
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Total revenue for the period:", revenue)
print("\n")

Total revenue for the period: 39237.02

In [46]:
#  How many orders were made in the period?
num_orders = chipo['order_id'].nunique()
print("Number of orders made in the period:", num_orders)
print("\n")

Number of orders made in the period: 1834

In [47]:
#  What is the average revenue amount per order?
average_revenue_per_order = revenue / num_orders
print("Average revenue amount per order:", average_revenue_per_order)
print("\n")

Average revenue amount per order: 21.39423118865867

In [48]:
#  How many different items are sold?
num_different_items = chipo['item_name'].nunique()
print("Number of different items sold:", num_different_items)
print("\n")

Number of different items sold: 50

<h2>Question 6</h2>
Create a line plot showing the number of marriages and divorces per capita in the
U.S. between 1867 and 2014. Label both lines and show the legend. 
Don't forget to label your axes!

In [6]:
# Imports necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Loads the dataset containing U.S. marriage and divorce rates from 1867 to 2014
file_path = "us-marriages-divorces-1867-2014.csv"
data = pd.read_csv(file_path)

# Creates a line plot to visualize the historical trends in U.S. marriage and divorce rates
plt.figure(figsize=(9.5, 8)) 

# Plots the data for marriages and divorces per 1000 people
plt.plot(data['Year'], data['Marriages_per_1000'], label='Marriages', color='blue')
plt.plot(data['Year'], data['Divorces_per_1000'], label='Divorces', color='red')

# Sets labels and title for the plot
plt.xlabel('Year', fontweight='bold', fontsize=13)  # Label for x-axis
plt.ylabel('Rate per 1000 People', fontweight='bold', fontsize=13)  # Label for y-axis
plt.title('Trends in Marriages and Divorces per Capita in the U.S. (1867-2014)', fontweight='bold', fontsize=15)

# Adds legend to distinguish between marriages and divorces
plt.legend(loc='upper left', fontsize=10)

# Ensures a clean layout and display the plot
plt.tight_layout()  
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'us-marriages-divorces-1867-2014.csv'

<h2>Question 7</h2>
Create a vertical bar chart comparing the number of marriages and divorces per 
capita in the U.S. between 1900, 1950, and 2000.<br>
Don't forget to label your axes!

In [5]:
# Imports necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Loads the dataset containing U.S. marriage and divorce rates from 1867 to 2014
file_path = "us-marriages-divorces-1867-2014.csv"
data = pd.read_csv(file_path)

# Filters data for specific years of interest: 1900, 1950, and 2000
years_of_interest = [1900, 1950, 2000]
filtered_data = data[data['Year'].isin(years_of_interest)]

# Creates a vertical bar chart with custom styles
plt.figure(figsize=(9.5, 8)) 

# Sets the width of the bars for grouping
bar_width = 12.0

# Plots the data for marriages and divorces per 1000 people
marriages_bars = plt.bar(filtered_data['Year'] - bar_width/2, filtered_data['Marriages_per_1000'], width=bar_width, label='Marriages per 1000', alpha=0.7, color='darkorange')
divorces_bars = plt.bar(filtered_data['Year'] + bar_width/2, filtered_data['Divorces_per_1000'], width=bar_width, label='Divorces per 1000', alpha=0.7, color='teal')

# Sets labels and title with appropriate formatting
plt.xlabel('Year', fontweight='bold', fontsize=12)  # X-axis label
plt.ylabel('Rate per 1000 People', fontweight='bold', fontsize=12)  # Y-axis label
plt.title('Comparison of Marriages and Divorces per Capita in the U.S. (1900, 1950, 2000)', fontweight='bold', fontsize=14)

# Adds legend to distinguish between marriages and divorces
plt.legend(loc='upper left', fontsize=10)

# Adds numerical values on top of the bars to indicate rates
for bar in marriages_bars + divorces_bars:
    height = bar.get_height()
    plt.text(bar.get_x() + bar.get_width() / 2, height, f'{height:.1f}', ha='center', va='bottom', fontweight='bold')

# Displays the plot
plt.tight_layout()  
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'us-marriages-divorces-1867-2014.csv'

<h2>Question 8</h2>
Create a horizontal bar chart that compares the deadliest actors in Hollywood. Sort 
the actors by their kill count and label each bar with the corresponding actor's name. <br>
Don't forget to label your axes!

In [4]:
# Imports necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Loads the dataset containing actor kill counts
file_path = "actor_kill_counts.csv"
data = pd.read_csv(file_path)

# Sorts the data by kill count in ascending order
sorted_data = data.sort_values(by='Count', ascending=True)

# Creates a horizontal bar chart to visualize deadliest actors
plt.figure(figsize=(10, 6))  # Set the figure size

# Increases the gap between bars for better visibility
bar_gap = 0.4

# Plot the bar chart
plt.barh(sorted_data['Actor'], sorted_data['Count'], color='steelblue', height=bar_gap)

# Set labels and title for the chart
plt.xlabel('Kill Count', fontweight='bold', fontsize=12)  # X-axis label
plt.ylabel('Actor', fontweight='bold', fontsize=12)  # Y-axis label
plt.title('Deadliest Actors in Hollywood', fontweight='bold', fontsize=14) 

# Adds kill count values as labels to the bars
for index, value in enumerate(sorted_data['Count']):
    plt.text(value, index, str(value), ha='left', va='center', fontweight='bold', fontsize=10)

# Customizes the appearance of the chart
plt.grid(axis='x', linestyle='', alpha=0.7)  
plt.tight_layout() 

# Displays the plot
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'actor_kill_counts.csv'

<h2>Question 9</h2>
Create a pie chart showing the fraction of all Roman Emperors that were 
assassinated.<br>
Make sure that the pie chart is an even circle, labels the categories, and shows the 
percentage breakdown of the categories.

In [3]:
# Imports necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Loads the dataset containing information about Roman emperor reigns and causes of death
file_path = "roman-emperor-reigns.csv"
data = pd.read_csv(file_path)

# Calculates the number of emperors who died from assassination
assassinated_emperors = data[data['Cause_of_Death'] == 'Assassinated']
total_emperors = len(data)
assassinated_count = len(assassinated_emperors)

# Calculates the percentage of emperors who died from assassination
percentage_assassinated = (assassinated_count / total_emperors) * 100

# Creates a pie chart to visualize the causes of death
plt.figure(figsize=(8, 8))  # Set the figure size

# Colours to display in the chart
color_palette = ['lightblue', 'teal']

# Plots the pie chart with custom labels, colors, and formatting
plt.pie([assassinated_count, total_emperors - assassinated_count], 
        labels=['Assassinated', 'Other Causes'], colors=color_palette,
        autopct='%1.1f%%', startangle=140, textprops={'weight': 'bold'},
        wedgeprops={'linewidth': 1, 'edgecolor': 'black'})  

# Sets the aspect ratio to make the pie chart a circle
plt.axis('equal')

# Sets the title for the pie chart
plt.title('Fraction of Roman Emperors by Cause of Death', fontweight='bold')

# Adds a legend to the pie chart
plt.legend()

# Displays the pie chart
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'roman-emperor-reigns.csv'

<h2>Question 10</h2>
Create a scatter plot showing the relationship between the total revenue earned by 
arcades and the number of Computer Science PhDs awarded in the U.S. between 
2000 and 2009.<br>
Don't forget to label your axes! <br>
Color each dot according to its year.

In [9]:
# Imports necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Loads the dataset containing information about arcade revenue and CS doctorates
file_path = "arcade-revenue-vs-cs-doctorates.csv"
data = pd.read_csv(file_path)

# Creates a scatter plot to visualize the relationship between arcade revenue and CS doctorates
plt.figure(figsize=(9.5, 8))  # Set the figure size

# Defines a continuous color map for smooth gradient
color_map = "viridis"

# Plots the data points with color-coded years and smooth color gradient
scatter = plt.scatter(data['Total Arcade Revenue (billions)'], data['Computer Science Doctorates Awarded (US)'],
                      c=data['Year'], cmap=color_map, s=80, edgecolors='black', alpha=0.8)  

# Sets labels and title with bold formatting
plt.xlabel('Total Arcade Revenue (billions)', fontweight='bold', fontsize=12)  # X-axis label
plt.ylabel('Computer Science Doctorates Awarded (US)', fontweight='bold', fontsize=12)  # Y-axis label
plt.title('Relationship between Arcade Revenue and CS Doctorates (2000-2009)', fontweight='bold', fontsize=14)  

# Adds year as text to each data point with proper alignment and formatting
for i, year in enumerate(data['Year']):
    plt.text(data['Total Arcade Revenue (billions)'][i], data['Computer Science Doctorates Awarded (US)'][i], str(year),
             fontsize=10, ha='center', va='bottom', fontweight='bold')

# Adds a colorbar to indicate the years
cbar = plt.colorbar(scatter)
cbar.set_label('Year')

# Customizes the appearance of the chart
plt.grid(alpha=0.3)  
plt.tight_layout()  

# Displays the scatter plot
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'arcade-revenue-vs-cs-doctorates.csv'

<h3>Thank You!</h3>
<h2>End of ProblemSet 3 Solutions</h2>